<footer class="d-flex align-items-center justify-content-center footer bg-dark text-light">
    <div class="container" id="foot">
      <div id="contact-div" class="row">
        <div class="col-lg-6 mt-5">
          <h4>About Us</h4>
          <p>Stock Stalkers is a leading online platform dedicated to providing comprehensive information and tools for individuals interested in stock market investments. With a user-friendly interface and a wealth of resources, Stock Stalkers empowers users to make informed decisions in their investment journey.</p>
        </div>
        <div class="col-lg-6 mt-5">
          <h4>Contact Us</h4>
          <ul class="list-unstyled">
            <li>Phone: 123-456-7890</li>
            <li>Email: info@StockStalker.com</li>
            <li>Address: 123 Street, City, State</li>
          </ul>
        </div>
      </div>
      <div id="copyright-div" class="row bg-dark text-light">
        <div class="col justify-content-center d-flex align-items-center">
          &copy; 2023 Stock Stalkers. All rights reserved.
        </div>
      </div>
    </div>
  </footer>