#front-page{
    max-height: 90vh;
    min-height: 600px;
    background-size: cover;
    background-position: center;
    margin-top: 0px;
}

#bg{
    height: 100%;
    width: 100%;
}

#logo-div img{
    width: 180px;
    height: 165px;
}

#card-section,#news{
    height: 100%;
}

#card-section > div{
    width: 90%;
}
#news > div{
    width: 90%;
}

/* #news{
    border: 1px solid black;
} */

#card-div{
    justify-content: space-evenly;
}

#card-particular:hover{
    width: 18.4rem;
    height: 24.4rem;
}

#card-particular{
    width: 18rem;
    height: 24rem;
}

#charts{
    /* font-size: 3rem; */
    height: 100%;
    border: 1px solid black;
}

.container{
    height: 31rem;
    margin: 30px;
    width: 50rem;
}

#foot{
    height: 80%;
}

#charts .hover:hover{
    height: 31.4rem;
    width: 50.4rem;
}

#contact-div{
    height: 90%;
}

#copyright-div{
    height: 10%;
    width: 100%;
}

section{
    margin-top: 30px;
    margin-bottom: 30px;
}

#more{
    height: 20rem;
    width: 35px;
    background-color: white;
    border: none;
    font-size: 5rem;
}

#more:hover{
    text-decoration: none;
}